<script>
      var axel = Math.random() + "";
      var a = axel * 10000000000000;
      document.write('<iframe src="https://4744623.fls.doubleclick.net/activityi;src=4744623;type=invmedia;cat=cya7sut0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
      <iframe src="https://4744623.fls.doubleclick.net/activityi;src=4744623;type=invmedia;cat=cya7sut0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    
<header data-search="" data-navigation="" class="header">
      <div class="container">
        <div class="inner">
          <div class="logo"><a title="Qatar" href="#"><img src="images/logo.svg" alt="Qatar"/></a>
          </div>
          <div class="language-wrapper">
            <div class="dropdown-language"><span class="btn-langCur">English</span>
              <div class="language"><a href="#" data-toggle-show=".lang-dropdown" class="btn-lang">عربي</a>
              </div>
            </div>
            <button type="button" id="btn-open" class="btn-1"><span class="ico-search"></span></button>
          </div>
          <div class="menu-wrapper"><a href="#" title="button" class="btn-hamburger"><span class="inner"><span class="top"></span><span class="middle"></span><span class="bottom"></span></span></a>
            <div class="outer">
              <div class="inner scrollAble">
                <nav class="menu-mobile clearfix">
                  <ul>
                    <li class="active"><a title="Home" href="#">Home</a>
                    </li>
                    <li><a title="Welcome" href="#">Welcome</a>
                    </li>
                    <li><a title="Discover" href="#">Discover</a>
                    </li>
                    <li><a title="Enjoy" href="#">Enjoy</a>
                    </li>
                    <li><a title="Plan" href="#">Plan</a>
                    </li>
                    <li><a title="Learn" href="#">Learn</a>
                    </li>
                  </ul>
                </nav>
                <nav class="top-menu clearfix">
                  <ul>
                    <li class="active"><a title="Business Events" href="#" target="_blank">Business Events</a>
                    </li>
                    <li class="light-gray-bg-12"><a title="Corporate" href="#" target="_blank">Corporate</a>
                    </li>
                    <li class="light-gray-bg-12"><a title="Events" href="#" target="_blank">Events</a>
                    </li>
                    <li><a title="Media" href="#">Media</a>
                    </li>
                    <li><a title="Contact us" href="#">Contact us</a>
                    </li>
                  </ul>
                </nav>
                <aside class="search-block">
                  <form method="POST" action="search.html">
                    <button type="submit" class="btn-1"><span class="ico-search"></span></button>
                    <div class="form-group">
                      <label for="search-field-1" class="hidden">&nbsp;</label>
                      <input type="text" name="search-field-1" placeholder="Search" data-stick-input="" id="search-field-1" class="input-2">
                    </div>
                    <button type="button" id="btn-close" class="btn-close"></button>
                  </form>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>