<main class="main">
      <section class="slider-wrapper">
        <nav data-menu="" class="main-menu-wrapper">
          <div class="container">
            <ul class="main-menu menu-level-1">
              <li class="active"><a title="Home" href="#">Home</a>
              </li>
              <li><a title="Welcome" href="#">Welcome</a>
              </li>
              <li class="has-child"><a title="Discover" href="#">Discover</a>
                <div class="sub-menu sub-menu-3">
                  <div class="menu-col"><a title="Tourist Hotspots" href="#" class="sub-title">Tourist Hotspots</a><a title="Tourist Hotspots" href="#" class="sub-img"><img src="/content/dam/demo/upload/tour-hot.jpg" alt="Tourist Hotspots"/></a>
                    <ul class="menu-level-2">
                      <li class="active"><a title="Doha Corniche" href="#">Doha Corniche</a>
                      </li>
                      <li><a title="Souq Waqif" href="#">Souq Waqif</a>
                      </li>
                      <li><a title="Museum of Islamic Art" href="#">Museum of Islamic Art</a>
                      </li>
                      <li><a title="Katara Cultural Village" href="#">Katara Cultural Village</a>
                      </li>
                      <li><a title="The Pearl-Qatar" href="#">The Pearl-Qatar</a>
                      </li>
                      <li><a title="Al Zubarah" href="#">Al Zubarah</a>
                      </li>
                      <li><a title="Khor Al Adaid" href="#">Khor Al Adaid</a>
                      </li>
                    </ul>
                  </div>
                  <div class="menu-col"><a title="Cultural Treasures" href="#" class="sub-title">Cultural Treasures</a><a title="Cultural Treasures" href="#" class="sub-img"><img src="/content/dam/demo/upload/cult-treas.jpg" alt="Cultural Treasures"/></a>
                    <ul class="menu-level-2">
                      <li class="active"><a title="Museums, Galleries &amp; Cultural Presentations" href="#">Museums, Galleries & Cultural Presentations</a>
                      </li>
                      <li><a title="Historic Sites" href="#">Historic Sites</a>
                      </li>
                      <li><a title="Public Art" href="#">Public Art</a>
                      </li>
                    </ul>
                  </div>
                  <div class="menu-col"><a title="Natural Wonders" href="#" class="sub-title">Natural Wonders</a><a title="Natural Wonders" href="#" class="sub-img"><img src="/content/dam/demo/upload/nat-won.jpg" alt="Natural Wonders"/></a>
                    <ul class="menu-level-2">
                      <li class="active"><a title="Flora &amp; fauna" href="#">Flora & fauna</a>
                      </li>
                      <li><a title="Sand desert " href="#">Sand desert </a>
                      </li>
                      <li><a title="Ras Abrouq Rock Formations" href="#">Ras Abrouq Rock Formations</a>
                      </li>
                      <li><a title="Dahl Al Misfir Cave" href="#">Dahl Al Misfir Cave</a>
                      </li>
                      <li><a title="Al Thakira Mangroves" href="#">Al Thakira Mangroves</a>
                      </li>
                      <li><a title="The sea" href="#">The sea</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="has-child"><a title="Enjoy" href="#">Enjoy</a>
                <div class="sub-menu sub-menu-8">
                  <div class="menu-col"><a title="Explore" href="#" class="sub-title">Explore</a><a title="Explore" href="#" class="sub-img"><img src="/content/dam/demo/upload/explore.jpg" alt="Explore"/></a>
                    <ul class="menu-level-2">
                      <li class="active"><a title="Take in the sights" href="#">Take in the sights</a>
                      </li>
                      <li><a title="Desert adventures" href="#">Desert adventures</a>
                      </li>
                      <li><a title="Dhow cruises" href="#">Dhow cruises</a>
                      </li>
                      <li><a title="Living heritage" href="#">Living heritage</a>
                      </li>
                    </ul>
                  </div>
                  <div class="menu-col"><a title="Celebrate" href="#" class="sub-title">Celebrate</a><a title="Celebrate" href="#" class="sub-img"><img src="/content/dam/demo/upload/celebrate.jpg" alt="Celebrate"/></a>
                    <ul class="menu-level-2">
                      <li class="active"><a title="Festivals" href="#">Festivals</a>
                      </li>
                      <li><a title="National holidays" href="#">National holidays</a>
                      </li>
                    </ul>
                  </div>
                  <div class="menu-col"><a title="Eat" href="#" class="sub-title">Eat</a><a title="Eat" href="#" class="sub-img"><img src="/content/dam/demo/upload/eat.jpg" alt="Eat"/></a>
                    <ul class="menu-level-2">
                      <li class="active"><a title="A tradition of hospitality " href="#">A tradition of hospitality </a>
                      </li>
                      <li><a title="Qatari cuisine" href="#">Qatari cuisine</a>
                      </li>
                      <li><a title="Restaurant scene" href="#">Restaurant scene</a>
                      </li>
                    </ul>
                  </div>
                  <div class="menu-col"><a title="Shop" href="#" class="sub-title">Shop</a><a title="Shop" href="#" class="sub-img"><img src="/content/dam/demo/upload/shop.jpg" alt="Shop"/></a>
                    <ul class="menu-level-2">
                      <li class="active"><a title="Souqs" href="#">Souqs</a>
                      </li>
                      <li><a title="Malls" href="#">Malls</a>
                      </li>
                    </ul>
                  </div>
                  <div class="menu-col"><a title="Relax" href="#" class="sub-title">Relax</a><a title="Relax" href="#" class="sub-img"><img src="/content/dam/demo/upload/relax.jpg" alt="Relax"/></a>
                    <ul class="menu-level-2">
                      <li class="active"><a title="Beach &amp; pool" href="#">Beach & pool</a>
                      </li>
                      <li><a title="Spas" href="#">Spas</a>
                      </li>
                    </ul>
                  </div>
                  <div class="menu-col"><a title="Play" href="#" class="sub-title">Play</a><a title="Play" href="#" class="sub-img"><img src="/content/dam/demo/upload/play.jpg" alt="Play"/></a>
                    <ul class="menu-level-2">
                      <li class="active"><a title="Children’s facilities" href="#">Children’s facilities</a>
                      </li>
                      <li><a title="Family outings" href="#">Family outings</a>
                      </li>
                    </ul>
                  </div>
                  <div class="menu-col"><a title="Exercise" href="#" class="sub-title">Exercise</a><a title="Exercise" href="#" class="sub-img"><img src="/content/dam/demo/upload/exercise.jpg" alt="Exercise"/></a>
                    <ul class="menu-level-2">
                      <li class="active"><a title="Parks" href="#">Parks</a>
                      </li>
                      <li><a title="Golf" href="#">Golf</a>
                      </li>
                      <li><a title="Water sports, diving &amp; fishing" href="#">Water sports, diving & fishing</a>
                      </li>
                      <li><a title="Air sports" href="#">Air sports</a>
                      </li>
                      <li><a title="Indoor sports" href="#">Indoor sports</a>
                      </li>
                      <li><a title="Other sports" href="#">Other sports</a>
                      </li>
                    </ul>
                  </div>
                  <div class="menu-col"><a title="Watch" href="#" class="sub-title">Watch</a><a title="Watch" href="#" class="sub-img"><img src="/content/dam/demo/upload/watch.jpg" alt="Watch"/></a>
                    <ul class="menu-level-2">
                      <li class="active"><a title="International sports events" href="#">International sports events</a>
                      </li>
                      <li><a title="Traditional sports" href="#">Traditional sports</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="has-child"><a title="Plan" href="#">Plan</a>
                <div class="sub-menu sub-menu-5">
                  <div class="menu-col"><a title="Getting here" href="#" class="sub-title">Getting here</a><a title="Getting here" href="#" class="sub-img"><img src="/content/dam/demo/upload/get-here.jpg" alt="Getting here"/></a>
                  </div>
                  <div class="menu-col"><a title="Visas" href="#" class="sub-title">Visas</a><a title="Visas" href="#" class="sub-img"><img src="/content/dam/demo/upload/visa.jpg" alt="Visas"/></a>
                  </div>
                  <div class="menu-col"><a title="Where to stay" href="#" class="sub-title">Where to stay</a><a title="Where to stay" href="#" class="sub-img"><img src="/content/dam/demo/upload/stay.jpg" alt="Where to stay"/></a>
                  </div>
                  <div class="menu-col"><a title="Itineraries" href="#" class="sub-title">Itineraries</a><a title="Itineraries" href="#" class="sub-img"><img src="/content/dam/demo/upload/intin.jpg" alt="Itineraries"/></a>
                    <ul class="menu-level-2">
                      <li class="active"><a title="One-day itinerary" href="#">One-day itinerary</a>
                      </li>
                      <li><a title="Three-day itinerary" href="#">Three-day itinerary</a>
                      </li>
                    </ul>
                  </div>
                  <div class="menu-col"><a title="Getting around" href="#" class="sub-title">Getting around</a><a title="Getting around" href="#" class="sub-img"><img src="/content/dam/demo/upload/get-round.jpg" alt="Getting around"/></a>
                  </div>
                </div>
              </li>
              <li class="has-child"><a title="Learn" href="#">Learn</a>
                <div class="sub-menu sub-menu-2">
                  <div class="menu-col"><a title="Maps" href="#" class="sub-title">Maps</a><a title="Maps" href="#" class="sub-img"><img src="/content/dam/demo/upload/maps.jpg" alt="Maps"/></a>
                  </div>
                  <div class="menu-col"><a title="Essential Qatar" href="#" class="sub-title">Essential Qatar</a><a title="Essential Qatar" href="#" class="sub-img"><img src="/content/dam/demo/upload/ess-qatar.jpg" alt="Essential Qatar"/></a>
                    <ul class="menu-level-2">
                      <li class="active"><a title="National profile" href="#">National profile</a>
                      </li>
                      <li><a title="Business, money &amp; regulations" href="#">Business, money & regulations</a>
                      </li>
                      <li><a title="Society &amp; lifestyle" href="#">Society & lifestyle</a>
                      </li>
                      <li><a title="Communication &amp; utilities" href="#">Communication & utilities</a>
                      </li>
                      <li><a title="Health &amp; welfare" href="#">Health & welfare</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <section class="slider-1">
          <div data-slider="" data-init="6" class="slick-container">
            <div class="slider-item">
              <h3 class="title-5-red left">Traditional learnings.<br>Never forgotten.</h3><img src="/content/dam/demo/upload/home-carousel-boys-playing.jpg" alt="Traditional learnings.&lt;br&gt;Never forgotten."/>
            </div>
            <div class="slider-item">
              <h3 class="title-5-red">Made in Qatar.</h3><img src="/content/dam/demo/upload/home-carousel-dhow-boat-builder.jpg" alt="Made in Qatar."/>
            </div>
            <div class="slider-item">
              <h3 class="title-5-white left">Memories are made of this.</h3><img src="/content/dam/demo/upload/home-carousel-fort.jpg" alt="Memories are made of this."/>
            </div>
            <div class="slider-item">
              <h3 class="title-5-red">It takes a village.</h3><img src="/content/dam/demo/upload/home-carousel-katara.jpg" alt="It takes a village."/>
            </div>
            <div class="slider-item">
              <h3 class="title-5-white">Soaring ambition.</h3><img src="/content/dam/demo/upload/new-mia-mjl-01.jpg" alt="Soaring ambition."/>
            </div>
            <div class="slider-item">
              <h3 class="title-5-white left">Wonder in the desert.<br>Every day.</h3><img src="/content/dam/demo/upload/home-carousel-onyx.jpg" alt="Wonder in the desert.&lt;br&gt;Every day."/>
            </div>
            <div class="slider-item">
              <h3 class="title-5-white">From the sea, our land.</h3><img src="/content/dam/demo/upload/home-carousel-peral-diver.jpg" alt="From the sea, our land."/>
            </div>
            <div class="slider-item">
              <h3 class="title-5-white">Alleys of traditions.</h3><img src="/content/dam/demo/upload/home-carousel-souq-waqif.jpg" alt="Alleys of traditions."/>
            </div>
          </div>
        </section>
      </section>
      <section class="qa-block-1">
        <div class="container">
          <h1 class="qa-title-1">Qatar</h1>
          <p>A land that understands a traveller can never be a stranger, just a friend not yet met.</p>
          <p>That ultimately everyone is on their own journey,</p>
          <p>seeking the warmth of a friendly embrace,</p>
          <p>unique experiences, new stories to share.</p>
          <p>Where a meal is not a meal unless it is shared.</p>
          <p>A land rooted in ancient cultures, authentic soul,</p>
          <p>where past learning informs contemporary vision.</p>
          <p>Progressive spirit ignites new futures.</p>
          <p>A land offering enlightenment, invigoration and inspiration</p>
          <p>through its warmth of soul and spirit of vision.</p>
        </div>
      </section>
      <section class="video-block">
        <div class="container">
          <header class="qa-heading-1">
            <h1 class="qa-title-2">An invitation to explore</h1>
            <p class="qa-text-2">Find out what makes Qatar a unique destination</p>
          </header>
        </div>
        <div class="video-1">
          <div class="mask-video"><a title="Play" href="#" class="btn-play" data-vimeo-play=""><span class="ico-play"></span></a><img src="/content/dam/demo/upload/new-fort-al-zubarah1.jpg" alt="Video" class="img-full"/>
          </div>
          <div class="video196">
            <iframe id="playerIframe" data-qavimeo="" src="https://player.vimeo.com/video/144275596?api=1&amp;player_id=playerIframe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </section>
      <section class="qa-block-2">
        <div class="container">
          <header class="qa-heading-1">
            <h1 class="qa-title-2">Lasciati ispirare</h1>
            <p class="qa-text-2">Scopri i nostri tesori naturali e culturali</p>
          </header>
        </div>
        <div class="container-fluid">
          <div data-slider-1="" class="row slider-2">
            <div class="col-md-4">
              <div class="qa-item-1"><a title="La Corniche di Doha" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/doha-corniche-02.jpg" alt="La Corniche di Doha"/></a><a title="La Corniche di Doha" href="#" class="qa-link-1"><span>La Corniche di Doha</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="qa-item-1"><a title="Souq Waqif" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/soug-01.jpg" alt="Souq Waqif"/></a><a title="Souq Waqif" href="#" class="qa-link-1"><span>Souq Waqif</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="qa-item-1"><a title="Museo di Arte Islamica" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/museum-01.jpg" alt="Museo di Arte Islamica"/></a><a title="Museo di Arte Islamica" href="#" class="qa-link-1"><span>Museo di Arte Islamica</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="qa-item-1"><a title="Villaggio Culturale Katara" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/katara-01.jpg" alt="Villaggio Culturale Katara"/></a><a title="Villaggio Culturale Katara" href="#" class="qa-link-1"><span>Villaggio Culturale Katara</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="qa-item-1"><a title="The Pearl-Qatar" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/peral-01.jpg" alt="The Pearl-Qatar"/></a><a title="The Pearl-Qatar" href="#" class="qa-link-1"><span>The Pearl-Qatar</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="qa-item-1"><a title="Al Zubarah" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/al-zubarah-01.jpg" alt="Al Zubarah"/></a><a title="Al Zubarah" href="#" class="qa-link-1"><span>Al Zubarah</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="qa-item-1"><a title="Khor Al Adaid" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/khor-01.jpg" alt="Khor Al Adaid"/></a><a title="Khor Al Adaid" href="#" class="qa-link-1"><span>Khor Al Adaid</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="qa-block-2">
        <div class="container">
          <header class="qa-heading-1">
            <h1 class="qa-title-2">Enjoy</h1>
            <p class="qa-text-2">Qatar has something for every traveller</p>
          </header>
        </div>
        <div class="container-fluid">
          <div data-slider-1="" class="row slider-2">
            <div class="col-md-4">
              <div class="qa-item-1"><a title="Explore" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/explore-01.jpg" alt="Explore"/></a><a title="Explore" href="#" class="qa-link-1"><span>Explore</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="qa-item-1"><a title="Celebrate" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/celebrate-01.jpg" alt="Celebrate"/></a><a title="Celebrate" href="#" class="qa-link-1"><span>Celebrate</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="qa-item-1"><a title="Eat" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/eat-01.jpg" alt="Eat"/></a><a title="Eat" href="#" class="qa-link-1"><span>Eat</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="qa-item-1"><a title="Shop" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/shop-01.jpg" alt="Shop"/></a><a title="Shop" href="#" class="qa-link-1"><span>Shop</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="qa-item-1"><a title="Relax" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/relax-01.jpg" alt="Relax"/></a><a title="Relax" href="#" class="qa-link-1"><span>Relax</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="qa-item-1"><a title="Play" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/play-01.jpg" alt="Play"/></a><a title="Play" href="#" class="qa-link-1"><span>Play</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="qa-item-1"><a title="Exercise" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/exercise-01.jpg" alt="Exercise"/></a><a title="Exercise" href="#" class="qa-link-1"><span>Exercise</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="qa-item-1"><a title="Watch" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/watch-01.jpg" alt="Watch"/></a><a title="Watch" href="#" class="qa-link-1"><span>Watch</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="qa-block-3">
        <div class="container">
          <header class="qa-heading-1">
            <h1 class="qa-title-2">Plan</h1>
            <p class="qa-text-2">Practical advice to plan your visit</p>
          </header>
        </div>
        <div class="container-fluid">
          <div data-slider-2="" class="row slider-2">
            <div class="col-md-6">
              <div class="qa-item-1"><a title="Getting Here" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/here-01-thumb.jpg" alt="Getting Here"/></a><a title="Getting Here" href="#" class="qa-link-1"><span>Getting Here</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="qa-item-1"><a title="Visas" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/visa-02-thumb1.jpg" alt="Visas"/></a><a title="Visas" href="#" class="qa-link-1"><span>Visas</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="qa-item-1"><a title="Where to stay" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/stay-01-thumb1.jpg" alt="Where to stay"/></a><a title="Where to stay" href="#" class="qa-link-1"><span>Where to stay</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="qa-item-1"><a title="Itineraries" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/itinery-01-thumb1.jpg" alt="Itineraries"/></a><a title="Itineraries" href="#" class="qa-link-1"><span>Itineraries</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="qa-item-1"><a title="Getting Around" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/around-01-thumb1.jpg" alt="Getting Around"/></a><a title="Getting Around" href="#" class="qa-link-1"><span>Getting Around</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="qa-block-3">
        <div class="container">
          <header class="qa-heading-1">
            <h1 class="qa-title-2">Learn</h1>
            <p class="qa-text-2">All you need to know about Qatar</p>
          </header>
        </div>
        <div class="container-fluid">
          <div data-slider-3="" class="row slider-2">
            <div class="col-md-6">
              <div class="qa-item-1"><a title="Maps" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/map-01-thumb1.jpg" alt="Maps"/></a><a title="Maps" href="#" class="qa-link-1"><span>Maps</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="qa-item-1"><a title="Essential Qatar" href="#" class="img-wrapper"><img src="/content/dam/demo/upload/national-02-thumb.jpg" alt="Essential Qatar"/></a><a title="Essential Qatar" href="#" class="qa-link-1"><span>Essential Qatar</span><em class="ico-arrow-right"></em></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--include blocks/keep-in-touch-->
      <section data-share-page="" class="share-links">
        <div class="inner">
          <h3 class="text-1">Share this page</h3>
          <ul class="list-icon">
            <li><a href="#" title="Facebook" data-to-share="" target="_blank"><span class="ico-facebook2"></span></a>
            </li>
            <li><a href="#" title="Twitter" data-to-share="" target="_blank"><span class="ico-twitter2"></span></a>
            </li>
            <li><a href="#" title="Instagram" target="_blank"><span class="ico-instagram2"></span></a>
            </li>
          </ul>
        </div>
      </section>
    </main>